body {
  @apply bg-gray-100 text-gray-900;
}

input,
select,
textarea {
  @apply border border-gray-300 rounded p-2;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.animate-slide-up {
  animation: slide-up 0.25s ease-out;
}
