@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f7fa;
  color: #062238;
  font-family: system-ui, sans-serif;
}

@media (max-width: 480px) {
  .mobile-full {
    width: 100% !important;
    border-radius: 0 !important;
  }
}
